div {
    width:100px;
    height:100px;
}
#predefined-colors {
    background-color: lightsalmon;
}
#hexadecimal-colors{
    background-color: #573829;
}
#short-hexadecimal-colors{
    background-color: #268;

}
#rgb-function{
    background-color: rgb(231,127,101);
}
#rgba-function{
    background-color: rgba(121,150,50,0.4);
}