.red{
    background-color: red;
}
.blue {
    background-color: aqua;
    padding:20px;
}
.green{
    background-color: lightgreen;
}
.pink{
    background-color: lightpink;
}
.purple{
    background-color: violet;
}
.red ,.purple{
    height: 20px;
    padding: 20px;
}
.blue , .green ,.pink {
    height: 200px;
    padding:10px;
}
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 768px) and (max-width:991px){
    .main{
        display: flex;
        flex-wrap: wrap;
        
    }  
    .blue {
        flex:3;
        
    }
    .pink{
        flex :1;
    }
    .green{
        order: 1;
        width: 100%;
    }

    
}
@media (min-width: 992px){
    .main{
        display: flex;
        flex-wrap: wrap;
    } 
    .green {
        order:-1;
        flex: 1;
    }
    .blue{
        flex:2;
    }
    .pink{
        flex:1;
    }
}